<div class="card shadow mt-2" id="auditcard">
    <div class="card-header py-3">
        <p class="text-primary m-0 font-weight-bold">Audit Trail</p>
    </div>
    <div class="card-body">
        <div class="row">
            <!-- <div class="col-md-6 text-nowrap">
                <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label>Show&nbsp;<select class="form-control form-control-sm custom-select custom-select-sm"><option value="10" selected="">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select>&nbsp;</label></div>
            </div>
            <div class="col-md-6">
                <div class="text-md-right dataTables_filter" id="dataTable_filter"><label><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label></div>
            </div> -->
        </div>
        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
            <table class="table my-0" id="audittrail">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">User Name</th>
                        <th scope="col">MSISDN/ IMEI</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Date/ Time</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <!-- Alternate Solution -->
                    <% if (typeof filterFinal !='undefined' ) { %>
                        <% for( let index=0; index < filterFinal.length; index++ ) { %>
                    <tr>
                        <td scope="row">
                            <%- (index+1) %>
                        </td>
                        <td>
                            <%- filterFinal[index].username %>
                        </td>
                        <td>
                            <%- filterFinal[index].msisdn %>
                        </td>
                        <td>
                            <%- filterFinal[index].formattedStartDate %>
                        </td>
                        <td>
                            <%- filterFinal[index].formattedEndDate %>
                        </td>
                        <td>
                            <%- filterFinal[index].datetime %>
                        </td>
        
                       
                    </tr>
                    
                    
                    <% } %>
                                <% } %>

                    <!-- End  -->
                </tbody>
                <tfoot>
                    <tr>
                       
                    </tr>
                </tfoot>
            </table>
        </div>
        
    </div>
</div>